@import "/static/css/bootstrap.css";
@import "/static/css/prefixer.less";

body {
  padding-top: 37px;
}
#content {
  padding: 10px;
}

#navbar {
  // height: 32px;
  position: fixed;
  left: 0; top: 0; width: 100%;
  .gradient(#F5F5F5, #FFF, #EEE);
  border-bottom: 1px solid #ddd;

  h1, h2, h3 {
    vertical-align: middle;
    margin: 0 10px;
    display: inline-block;
  }
}

.fileupload-buttonbar {
  input, button {
    vertical-align: top;
  }
}
.nowrap {
  white-space: nowrap;
}
#dropzone {
    padding: 3px 50px;
    display: inline-block;
}
#dropzone.in {
  // width: 600px;
  // height: 200px;
  // line-height: 200px;
  // font-size: larger;
  background: #bbb;
}
#dropzone.hover {
  background: #999;
}
#dropzone.fade {
  .transition(all 0.3s ease-out);
  opacity: 1;
}

/* tables */
table.tablesorter {
  thead tr th, tfoot tr th {
    // background-color: #e6EEEE;
  }
  thead tr .header {
    background-image: url(/static/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
  }
  tbody td {
    // color: #3D3D3D;
    // background-color: #FFF;
  }
  tbody tr.odd td {
  }
  thead tr .headerSortUp {
    background-image: url(/static/img/asc.gif);
  }
  thead tr .headerSortDown {
    background-image: url(/static/img/desc.gif);
  }
  thead tr .headerSortDown, thead tr .headerSortUp {
    // background-color: #8dbdd8;
  }
}